no aaa root
!
username cvpadmin privilege 15 role network-admin secret arista123
!
vrf instance MGMT
!
service routing protocols model multi-agent
!
hostname {{ .ShortName }}
!
spanning-tree mode mstp
!
vlan 100
!
management api http-commands
   protocol https
   no shutdown
   !
   vrf MGMT
      no shutdown
!
interface Port-Channel1
   switchport trunk allowed vlan 100-150,200
   switchport mode trunk
   no shutdown
!
interface Ethernet1
   channel-group 1 mode active
!
interface Ethernet2
   channel-group 1 mode active
!
interface Management0
   vrf MGMT
   {{ if .MgmtIPv4Address }}   ip address {{ .MgmtIPv4Address }}/{{ .MgmtIPv4PrefixLength }}{{end}}
!
interface Vlan100
   ip address 10.100.100.12/24
!
ip routing
no ip routing vrf MGMT
!
ip route vrf MGMT 0.0.0.0/0 192.168.123.1
ip route 0.0.0.0/0 10.100.100.1
!
end